html {
  background-color: #f6f6f3;
  color: #666666;
  font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  font-size: 24px;
}

body {
  max-width: 22rem;
  margin: 3rem auto;
  padding: 0 3rem;
}

h1,
h2,
h3 {
  color: #607d8b;
}

hr {
  border: none;
  height: 3px;
  background: #ccc;
}

a,
a:visited {
  color: black;
  transition: color 0.3s;
}

a:hover {
  color: deeppink;
}

header {
  width: 100%;
  max-width: 200px;
  margin-left: -2rem;
  margin-bottom: 2rem;
}

.projects,
.services {
  margin: 2rem 0 4rem 0;
}

a.button {
  text-decoration: none;
  display: inline-block;
  background-color: #607d8b;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 2rem;

  &:visited {
    color: white;
  }
  &:hover {
    color: #d9e8f0;
  }
}

.logo {
  max-width: 100%;
}

@media (max-width: 480px) {
  body {
    margin: 2rem auto;
    padding: 0 1.5rem;
  }
  header {
    margin-left: 0;
  }
}
